.main{
    margin-left: autox;
    margin-top:200px;
    display:flex;
}
.main div{
    display: flex; 
    flex-direction: column;
}
.btn{
    margin: 30px 50px;
    border-radius: 5px;
    padding: 10px;
    background: #139AAC;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.btn:hover{
    background: #c5c1bd;
}
/* body{
    background-image: url("../img/bg.jpg");
    height: auto;
    width: auto;
    zoom: 0%;
} */
.path{
    width: 40vh;
    height: 40vh;
    zoom: 1.25;
}
.main{
    zoom: 1;
}