html,
body {
    margin: 0;
    overflow: hidden;
}

.title {
    position: absolute;
    color: white;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.popup {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    /* background-color: white; */
    background: rgba(255,255,255, 0.2);
    color: white;
    margin: 1rem;
    right: 0px;
    bottom: 0px;
    min-height: fit-content;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 20px;
    height: calc(100vh-8em);
}

.line{
    position: relative;
    width: 100%;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);

}

.anim-typewriter{
    animation: typewriter 10s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;

}

@keyframes typewriter{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blinkTextCursor{
    from{
        border-right-color: rgba(255, 255, 255, 1);
    }
    to{
        border-right-color: transparent;
    }
}

h2{
    border: 2px solid white;
    border-radius: 10px;
    color:white;
    width: fit-content;
    padding: 10px;
    display: none;
}
h2:hover{
    cursor: pointer; 
    background-color: #139AAC; 
    color: azure;        
}